.container {
  padding: 0 100px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
}

.content {
  margin-top: 100px;
}

.lang {
  cursor: pointer;
}